<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!-- <connectionStrings>
    <add name="connstrng" connectionString="Data Source=STAN;Initial Catalog=Fortnite;Integrated Security=True" />
    <add name="Fortnite_Design.Properties.Settings.FortniteConnectionString"
      connectionString="Data Source=STAN;Initial Catalog=Fortnite;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration> --> 